body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.Loading-screen {
  background: url("../images/background1.jpg");
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  animation: bar 700ms ease infinite alternate-reverse;
}

.Loading-screen div:nth-child(2) {
  animation-delay: 200ms;
}

.Loading-screen div:nth-child(3) {
  animation-delay: 400ms;
}

.Loading-screen div:nth-child(4) {
  animation-delay: 600ms;
}

.Loading-screen div:nth-child(5) {
  animation-delay: 800ms;
}

.Loading-screen div:nth-child(6) {
  animation-delay: 1000ms;
}

.Loading-screen div:nth-child(7) {
  animation-delay: 1200ms;
}

@keyframes bar {
  from {
    /* transform: scale(0.5); */
    height: 80px;
  }
  to {
    /* transform: scale(1); */
    height: 180px;
  }
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/background2.jpg");
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-top: 10vh;
}

img[id=logo] {
  height: 130px;
  width: 130px;
}

#logo {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
  margin-left: 8vw;
  margin-top: 10vh;
  font-family: Arial, Helvetica, sans-serif;
}

input[id=email] {
  padding: 8px;
  margin-left: 6.2vw;
  font-style: italic;
  font-size: 18px;
  border: 1px solid black;
  width: 70%;
  flex: 1;
}

input[id=pass] {
  padding: 8px;
  margin-left: 6.3vw;
  font-style: italic;
  font-size: 18px;
  border: 1px solid black;
  width: 70%;
  flex: 1;
}

.forgot {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-right: 18vw;
  margin-top: 2vh;
  color: white;
  font-size: 20px;
}

.icon {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

img[id=facebook-login-btn] {
  width: 75px;
  height: 75px;
}

#facebook-login-btn {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
img[id=google-login-btn] {
  width: 75px;
  height: 75px;
}

#google-login-btn {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.join {
  display: flex;
  flex-direction: column;
  flex: 1;
}

input[id=sign-in] {
  background-color: transparent;
  height: 70px;
  color: white;
  font-size: 26px;
}

input[id=sign-up] {
  background-color: transparent;
  height: 70px;
  font-size: 26px;
  color: white;
  animation: background 1s ease infinite;
}

@keyframes background {
  0% {
    background-image: linear-gradient(to top, #09203f);
  }
  100% {
    background-image: linear-gradient(to top, #537895);
  }
}
.sign-up-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/background4.jpg");
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sign-up-logo {
  display: flex;
  justify-content: center;
  flex: 4;
  margin-top: 10vh;
}

img[id=sign-up-logo] {
  height: 130px;
  width: 150px;
}

#sign-up-logo {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 4;
  margin-left: 8vw;
  margin-bottom: 20vh;
  font-family: Arial, Helvetica, sans-serif;
}

input[id=email] {
  border: 0px;
  padding: 8px;
  margin-left: 6.2vw;
  font-style: italic;
  font-size: 18px;
  border: 1px solid black;
  width: 70%;
}

input[id=password] {
  padding: 8px;
  margin-left: 6.3vw;
  font-style: italic;
  font-size: 18px;
  border: 1px solid black;
  width: 70%;
}

input[id=password-confirmation] {
  padding: 8px;
  margin-left: 6.3vw;
  font-style: italic;
  font-size: 18px;
  border: 1px solid black;
  width: 70%;
}

button[id=sign-up] {
  background-color: transparent;
  font-size: 26px;
  color: white;
  flex: 1;
}

.go-back {
  cursor: pointer;
  position: absolute;
  padding: 10px;
  left: 0;
  top: 0;
}

.go-back svg:hover {
  fill: #441003;
}

.go-back svg {
  height: 30px;
  width: 30px;
  fill: #fff;
}

.chatBody {
  margin: 0;
  display: flex;
  justify-content: center;
  background-image: url("../images/background3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.header {
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 1px solid white;
  box-sizing: border-box;
}

.user {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.user .userName {
  flex: 3;
  font-size: 35px;
  font-weight: bold;
  color: #17d1d1;
}

.user .userImage {
  flex: 1;
}

.user .userImage input {
  height: 4vh;
  width: 6vw;
  border: 1px solid #17d1d1;
  border-radius: 50%;
}

.callIcon {
  flex: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.callIcon .audio input {
  height: 4vh;
  width: 6vw;
}

.callIcon .video input {
  height: 4vh;
  width: 6vw;
}

.callIcon .sign-out input {
  height: 4vh;
  width: 7vw;
}

.chat-messages {
  height: 86vh;
  width: 100vw;
  color: white;
  font-size: 24px;
  overflow-y: auto;
}

.footer {
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: center;
}

input[id=chat-input-msg] {
  flex: 4;
  color: white;
  background-color: transparent;
  font-size: 18px;
}

button {
  flex: 1;
  background-color: transparent;
}

img[id=send] {
  height: 5vh;
  width: 50%;
}

.bubble {
  min-width: 80px;
}

.msg-bubble-left {
  display: inline-block;
  padding: 15px;
  background: #165d68;
  position: relative;
  -moz-border-radius: 0px 10px 10px 10px;
  -webkit-border-radius: 0px 10px 10px 10px;
  border-radius: 0px 10px 10px 10px;
  margin-left: 30px;
}

.msg-bubble-left:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0px;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 16px solid #165d68;
  border-bottom: 20px solid transparent;
}

.msg-bubble-left .msg-date-time {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5px;
}

.msg-bubble-right {
  right: 0;
  display: inline-block;
  padding: 15px;
  background: #165d68;
  position: relative;
  -moz-border-radius: 10px 0px 10px 10px;
  -webkit-border-radius: 10px 0px 10px 10px;
  border-radius: 10px 0px 10px 10px;
  margin-right: 30px;
}

.msg-bubble-right:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0px;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-left: 16px solid #165d68;
  border-bottom: 20px solid transparent;
}

.msg-name {
  margin: 0px 10px;
  color: #fff;
}

.msg-date-time {
  font-size: 10px;
  margin-bottom: 0;
}

.msg-bubble-right .msg-date-time {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 5px;
}

/*# sourceMappingURL=main.css.map */
