body{
    margin: 0;
 }
 .Loading-screen{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
 }
 .Loading-screen div{
    height: 40px;
    width: 5px;
    background-color: black;
    margin: 5px;
    border-radius: 10px;
    animation: bar 700ms ease infinite alternate-reverse;
 }

.Loading-screen div:nth-child(2){
    animation-delay: 200ms;
}
.Loading-screen div:nth-child(3){
    animation-delay: 400ms;
}
.Loading-screen div:nth-child(4){
    animation-delay: 600ms;
}

@keyframes bar {
    from{
        /* transform: scale(0.5); */
        height: 50px;
    }
    to{
        /* transform: scale(1); */
        height: 150px;
    }
 }

 body{
    margin: 0;
    padding: 0;
}

.box{
    display: flex;
    border: 1px solid rgb(255, 102, 0);
    height: 97vh;
    width: 93vw;
    margin-bottom: 1vh;
    border-radius: 15px;
    flex-direction: column;
    justify-content: space-between;
    background-color:  rgb(12, 12, 12);
    box-shadow: 14px 11px 50px grey;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    text-align: center;
}

.centered {
    position: fixed;
    color: black;
    top: 107px;
    left: 133px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 0 -1px 0 white, 0 1px 0 #fff;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8vw;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 -1px 0 rgb(255, 102, 0), 0 1px 0 #fff;
}

input[id="uname"]{
    border: 0px;
    padding: 8px;
    margin-left: 6.2vw;
    font-style: italic;
    font-size: 18px;
    border: 1px solid rgb(255, 102, 0); 
    width: 70%;
}

input[id = "pass"]{
    border: 0px;
    padding: 8px;
    margin-left: 6.3vw;
    font-style: italic;
    font-size: 18px;
    border: 1px solid rgb(255, 102, 0); 
    width: 70%;
}

.forgot{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    margin-top: 10px;
    color: whitesmoke;
}

.icon{
    display: flex;
    justify-content: space-around;
}

img[alt="facebook"]{
    width: 75px;
    height: 75px;
}

img[alt="gmail"]{
    width: 75px;
    height: 75px ;
}

.shadow {
  background:rgb(255, 102, 0);
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0 0 20px 10px #000;
  height: 12px;
  margin: 30px auto;
  opacity: 0.2;
  width: 270px;
}

.submit{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.chatBody{
    margin: 0;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}
.header{
    border: 1px solid black;
    height: 8vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    background-color: rgb(74, 139, 192);;
    color: black;
}
.user{
 flex: 1;
 display: flex;
 justify-content: center;
 align-items: center;
}
.user .userName{
    flex: 1;
    font-size: 40px;
    font-weight: bold;
}
.user .userImage{
    flex: 1;
}
.user .userImage input{
    height: 4vh;
    width: 6vw;
 
}
.callIcon{
 flex: 1;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.callIcon .audio input{
    height: 4vh;
    width: 6vw;
}
.callIcon .video input{
    height: 4vh;
    width: 6vw;
}
 .callIcon .sign-out input{
    height: 4vh;
    width: 6vw;
}
.chatBody{
    border:1px solid black;
    height: 85vh;
    width: 98vw;
    background-image: url("http://3.bp.blogspot.com/-V078fQ5yaUM/WHuApNvZ9JI/AAAAAAAAB5Q/ViDV7-5m8eUfLUjZkkVuh-0VsUo8ZIb1wCHM/s1600/hd-beach-wallpaper-png.jpg");
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer{
    border:1px solid black;
    width: 98vw;
    height: 6vh;
    display: flex;
    justify-content: center;

}
input{
    flex: 3;
    color: black;
    font-size: 18px;
}
button{
    flex: 1;
    color: black;
    font-size: 18px;
}