$primary-color: black;
$secondary-color: #165d68;
$accent-color: #470303;
$text-color: white;



%flex-center {
  display: flex;
  justify-content: center;
}

%flex-column{
  display: flex;
  flex-direction: column;
}

%flex-space-between{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
%flex-space-around{
  display: flex;
  justify-content: space-around;
}

%background{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

 %style{
  border: 1px solid black;
  font-style: italic;
  font-size: 18px;
 }