body {
    margin: 0;
    padding: 0;
}
  
.Loading-screen {
    background: url("../images/background1.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.name {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    animation: bar 700ms ease infinite alternate-reverse;
}
  
.Loading-screen div:nth-child(2) {
    animation-delay: 200ms;
}
  
  .Loading-screen div:nth-child(3) {
    animation-delay: 400ms;
}
  
.Loading-screen div:nth-child(4) {
    animation-delay: 600ms;
}
  
.Loading-screen div:nth-child(5) {
    animation-delay: 800ms;
}
  
.Loading-screen div:nth-child(6) {
    animation-delay: 1000ms;
}
  
.Loading-screen div:nth-child(7) {
    animation-delay: 1200ms;
}
  
@keyframes bar {
    from {
      /* transform: scale(0.5); */
      height: 80px;
    }
    to {
      /* transform: scale(1); */
      height: 180px;
    }
}
