.sign-up-box {
    @extend %flex-space-between;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/background4.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    @extend %background;

    .go-back {
        cursor: pointer;
        position: absolute;
        padding: 10px;
        left: 0;
        top: 0;
    }
      
    .go-back svg:hover {
        fill: #441003;
    }
      
    .go-back svg {
        height: 30px;
        width: 30px;
        fill: $text-color;;
    }

    .sign-up-logo {
        @extend %flex-center;
        flex: 4;
        margin-top: 10vh;
    
        img[id=sign-up-logo] {
            height: 130px;
            width: 150px;
        }
    
        #sign-up-logo {
            animation: signUpLogo 10s infinite;
        }
    }

    .sign-up {
        @extend %flex-column;
        justify-content: space-around;
        flex: 4;
        margin-left: 8vw;
        margin-bottom: 20vh;
        font-family: Arial, Helvetica, sans-serif;
    
        input[id=email] {
            border: 0px;
            padding: 8px;
            margin-left: 6.2vw;
            @extend %style;
            width: 70%;
        }
    
        input[id=password] {
            padding: 8px;
            margin-left: 6.3vw;
            @extend %style;
            width: 70%;
        }
    
        input[id=password-confirmation] {
            padding: 8px;
            margin-left: 6.3vw;
            @extend %style;
            width: 70%;
        }
          
    }

    button[id=sign-up] {
        background-color: transparent;
        font-weight: bold;
        font-size: 26px;
        color: $accent-color;
        flex: 1;
        animation: button 2s infinite;
    }
}
  
@keyframes signUpLogo {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

@keyframes button{
    100%{background-image: linear-gradient(to right,#0b3035,#afbcc0,#212f36,#0d2934,#afbcc0,#1f4046,#293339,#afbcc0);
    }
}